# Nextflow & execution
.nextflow/
.nextflow.log*
work/
nxf_work/

# Sorties & resultats
results/
results_nextflow/
kraken2_*/

# Donnees brutes & references
fastq_pass/
ref_hostile/

# Gros formats (bioinfo / containers)
*.sif
*.mmi
*.bam
*.bai
*.sam
*.fastq
*.fastq.gz
*.fq.gz
*.gz
*.kraken
*_output.txt
