results/
results_250318_OK/
results_260401_ok/
results_260414_OK/
results_260609_new/
results_260609_old/
fastq_pass/
ref_hostile/
tmp/
.nextflow/
*.sif
*.mmi
*.gz
*.bam
work/
.nextflow/
.nextflow.log*
