/*
========================================================================================
    VIRiONT_NF - Configuration Entrées/Sorties, Ressources & Singularity
========================================================================================
*/
params {
    // --- ENTRÉES & SORTIES ---
    fastq_dir            = "fastq_pass"
    input                = "fastq_pass"
    outdir               = "results"

    // --- SEUILS CLINIQUES & PARAMÈTRES ---
    min_length           = 1000
    max_length           = 5000
    min_reads            = 2
    max_reads            = 2000 // Limite optimale pour diviser la complexité All-vs-All
    mi_cutoff            = 30.0 // Seuil de co-infection clinique (30%)

    // --- MODÈLES POLISHING & VARIANT CALLING ---
    medaka_model         = "r1041_e82_400bps_sup_v5.2.0"
    clair3_model         = "r1041_e82_400bps_sup_v520"

    // --- IMAGES SINGULARITY ---
    sif_main             = "${projectDir}/singularity/viriont2_main.sif"
    sif_medaka           = "${projectDir}/singularity/viriont2_medaka.sif"

    // --- CACHE HOSTILE ---
    hostile_cache        = "${projectDir}/ref_hostile"
    hostile_index        = "human-t2t-hla.rs-viral-202401_ml-phage-202401"

    // --- TMP DÉDIÉ SCRATCH ---
    scratch_tmp          = "${projectDir}/tmp"
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = "-B /srv:/srv -B ${projectDir}/tmp:/tmp"
}

env {
    HOSTILE_CACHE_DIR    = "${params.hostile_cache}"
    TMPDIR               = "/tmp"
    OMP_NUM_THREADS      = "1"
    OPENBLAS_NUM_THREADS = "1"
}

process {
    container = params.sif_main
    cpus      = 8
    memory    = '32 GB'

    // --- MODULES DU CŒUR ---
    withName: 'MERGE_FASTQ|DEHOST_HOSTILE|TRIM_CHOPPER' {
        cpus   = 4
        memory = '16 GB'
    }

    withName: 'AMPLICON_SORTER' {
        container = null
        cpus      = 16       // 16 cœurs pour optimiser la matrice de calcul
        memory    = '64 GB'
    }

    withName: 'MEDAKA_CONSENSUS|CALL_VCF' {
        container = params.sif_medaka
        cpus      = 8
        memory    = '32 GB'
    }

    withName: 'ALIGN_BAM' {
        cpus   = 4
        memory = '16 GB'
    }

    withName: 'GENOTYPING' {
        cpus   = 8
        memory = '16 GB'
    }

    // --- MODULE QC ANALYSE & METRICS ---
    withName: 'QC_ANALYSIS' {
        cpus   = 8
        memory = '16 GB'
    }

    // --- MODULE PHYLOGÉNIE ---
    withName: 'PHYLOGENY' {
        cpus   = 8
        memory = '32 GB'
    }
}

executor {
    name      = 'local'
    queueSize = 4
}

timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }